html,body{
    padding: 0px;
    margin: 0px;
    background-color:rgb(29, 28, 28);
}
*{
    box-sizing: border-box;
    color: whitesmoke;
}
body{
    height: 100vh;
    width:100vw;
    padding:1rem;
}
.top-bar{
    height: 55px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.btn-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn {
    border: none;
    background-color: rgb(156, 153, 153);
    height: 80%;
    width: 40%;
    border-radius: 6px;
}
.tab-container {
    width: 78%;
    display: flex;
}
.tab{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    height: 45px;
    min-width: 100px;
    margin: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    border-radius: 5px;
}
.new {
    color: black;
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}
.container{
    height: calc(100vh - (3rem + 55px));
    border: 1px;
    display: flex;
    justify-content: space-between;
    width:100%;
}
.file-explorer{
    width:20%;
    height: 100%;
    border: 1px;
    overflow: auto;
}
.main-container{
    width:78%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
::-webkit-scrollbar{
width: 3px;
height: 3px;
}
::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
::-webkit-scrollbar-track{
    border: 2px solid rgb(17, 17, 17);
    background-color:rgba(36, 34, 34,0.562)

}
::-webkit-scrollbar-corner{
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.editor-container{
    height: 68%;
    border: 1px;

}
.terminal-container{
    height: 28%;
    border:1px solid red;
}
.code-editor{
    height: 100%;
}